# Set up

In [1]:
import pandas as pd

In [4]:
sale_price_city = pd.read_csv('../data/Sale_Prices_City.csv')

In [5]:
sale_price_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3728 entries, 0 to 3727
Columns: 150 entries, Unnamed: 0 to 2020-03
dtypes: float64(132), int64(16), object(2)
memory usage: 4.3+ MB

In [6]:
sale_price_city.value_counts()

Unnamed: 0  RegionID  RegionName     StateName       SizeRank  2008-03   2008-04   2008-05   2008-06   2008-07   2008-08   2008-09   2008-10   2008-11   2008-12   2009-01   2009-02   2009-03   2009-04   2009-05   2009-06   2009-07   2009-08   2009-09   2009-10   2009-11   2009-12   2010-01   2010-02   2010-03   2010-04   2010-05   2010-06   2010-07   2010-08   2010-09   2010-10   2010-11   2010-12   2011-01   2011-02   2011-03   2011-04   2011-05   2011-06   2011-07   2011-08   2011-09   2011-10   2011-11   2011-12   2012-01   2012-02   2012-03   2012-04   2012-05   2012-06   2012-07   2012-08   2012-09   2012-10   2012-11   2012-12   2013-01   2013-02   2013-03   2013-04   2013-05   2013-06   2013-07   2013-08   2013-09   2013-10   2013-11   2013-12   2014-01   2014-02   2014-03   2014-04   2014-05   2014-06   2014-07   2014-08   2014-09   2014-10   2014-11   2014-12   2015-01   2015-02   2015-03   2015-04   2015-05   2015-06   2015-07   2015-08   2015-09   2015-10   2015-11   2015-12   2016-01   2016-02   2016-03   2016-04   2016-05   2016-06   2016-07   2016-08   2016-09   2016-10   2016-11   2016-12   2017-01   2017-02   2017-03   2017-04   2017-05   2017-06   2017-07   2017-08   2017-09   2017-10   2017-11   2017-12   2018-01   2018-02   2018-03  2018-04  2018-05  2018-06  2018-07  2018-08  2018-09  2018-10  2018-11  2018-12  2019-01  2019-02  2019-03  2019-04   2019-05   2019-06   2019-07   2019-08   2019-09   2019-10   2019-11   2019-12   2020-01   2020-02   2020-03
3           17426     Chicago        Illinois        4         325100.0  314800.0  286900.0  274600.0  268500.0  264400.0  267100.0  268400.0  259700.0  253400.0  242500.0  248100.0  244800.0  237900.0  223400.0  214600.0  216600.0  219900.0  222300.0  221900.0  225800.0  224100.0  229600.0  222400.0  218900.0  211900.0  214600.0  217800.0  206800.0  194500.0  180100.0  185400.0  190000.0  190400.0  188500.0  189400.0  186300.0  177700.0  167900.0  174700.0  182900.0  189300.0  190000.0  189800.0  180500.0  175000.0  169200.0  173400.0  171400.0  174000.0  175500.0  183800.0  188700.0  191600.0  194300.0  188300.0  187900.0  180700.0  184900.0  185400.0  188700.0  191400.0  198900.0  213600.0  223800.0  230700.0  228100.0  232600.0  230500.0  227600.0  223800.0  229800.0  231900.0  232700.0  232000.0  239900.0  239300.0  242300.0  246600.0  251200.0  250900.0  247000.0  248800.0  248900.0  250300.0  252800.0  251300.0  247200.0  238200.0  230600.0  227000.0  222200.0  212400.0  210400.0  208400.0  214800.0  211000.0  212200.0  214300.0  215800.0  219300.0  219000.0  221500.0  223900.0  231000.0  240300.0  245700.0  241800.0  236900.0  229500.0  225200.0  219800.0  216800.0  219500.0  217600.0  220900.0  221900.0  227300.0  230400.0  238500.0  247400   250000   244600   242100   248600   254400   256800   253600   256600   237600   245700   263200   290800   292000.0  276000.0  271500.0  266500.0  264900.0  265000.0  264100.0  264300.0  270000.0  281400.0  302900.0  309200.0    1
1755        31170     Danvers        Massachusetts   1756      334300.0  349200.0  345900.0  325600.0  306400.0  305400.0  307600.0  303600.0  315800.0  299300.0  302200.0  293500.0  303200.0  312700.0  297000.0  300200.0  288700.0  300700.0  339300.0  335700.0  323500.0  274200.0  285500.0  299200.0  317500.0  297300.0  293900.0  281100.0  295600.0  300000.0  301900.0  308200.0  307600.0  315400.0  299600.0  284900.0  288100.0  298400.0  315400.0  317000.0  311200.0  303300.0  318100.0  316500.0  316800.0  284700.0  282900.0  303400.0  344900.0  380200.0  374800.0  346400.0  312500.0  304500.0  318600.0  317400.0  317600.0  297200.0  310400.0  311600.0  326100.0  325500.0  326400.0  324000.0  329400.0  332800.0  342800.0  338900.0  336200.0  328200.0  325400.0  328800.0  350800.0  374600.0  373600.0  347000.0  325400.0  328600.0  336900.0  336700.0  333800.0  325100.0  344400.0  352500.0  376500.0  362000.0  360900.0  351200.0  359900.0  371800.0  374500.0  375700.0  370000.0  363400.0  364500.0  343800.0  343900.0  357200.0  381200.0  388200.0  382200.0  380100.0  370500.0  371800.0  386300.0  415700.0  407800.0  401200.0  385200.0  381100.0  407300.0  408200.0  420300.0  400500.0  399200.0  395000.0  411900.0  435400.0  448200.0  414400.0  400200   404200   433100   453600   444200   425200   410300   431500   438700   437300   424800   440400   458900   456500.0  437000.0  422700.0  438700.0  450100.0  462000.0  449600.0  442700.0  439100.0  456800.0  464000.0  493800.0    1
1759        23017     Melrose        Massachusetts   1760      404600.0  409900.0  396400.0  374500.0  342100.0  357600.0  359900.0  372500.0  354200.0  337400.0  350300.0  336000.0  336100.0  296900.0  310700.0  327700.0  349000.0  334100.0  339700.0  340600.0  363500.0  352100.0  357700.0  366300.0  375000.0  387800.0  371000.0  370700.0  366200.0  373700.0  374700.0  381700.0  363300.0  373700.0  344800.0  376400.0  373100.0  401300.0  379400.0  359900.0  336200.0  352000.0  364000.0  388400.0  377400.0  392100.0  330200.0  347800.0  337600.0  394100.0  359400.0  350100.0  345000.0  385300.0  358400.0  356500.0  339900.0  354000.0  356700.0  362300.0  407100.0  408300.0  379900.0  365900.0  373100.0  410900.0  407000.0  416500.0  417800.0  459000.0  455400.0  453700.0  419800.0  383700.0  379500.0  389100.0  439400.0  442100.0  438000.0  411200.0  409400.0  397000.0  422200.0  420200.0  420200.0  394500.0  406200.0  420300.0  441500.0  449800.0  436400.0  435400.0  434000.0  455000.0  454000.0  456800.0  448900.0  466900.0  476600.0  503200.0  495200.0  489300.0  491900.0  509700.0  522600.0  531000.0  514200.0  533100.0  539400.0  554300.0  548500.0  528000.0  522100.0  509900.0  534100.0  532000.0  529000.0  536100.0  560400.0  613500.0  623800   647500   599400   588700   562200   577500   580500   583800   585800   566100   560100   533000   560700   599500.0  611500.0  594000.0  561100.0  584400.0  600100.0  606500.0  603400.0  571400.0  560700.0  511600.0  551700.0    1
1761        52835     Ladera Ranch   California      1762      554900.0  537100.0  578900.0  564400.0  585300.0  541200.0  526500.0  541200.0  596900.0  571800.0  522400.0  499700.0  528100.0  514200.0  490000.0  464000.0  490300.0  472300.0  475700.0  536600.0  585300.0  629000.0  588900.0  579000.0  547000.0  536000.0  513600.0  499100.0  463900.0  488300.0  512800.0  567500.0  518200.0  477400.0  510900.0  508300.0  535100.0  481800.0  503500.0  497600.0  498400.0  508100.0  523300.0  501400.0  455900.0  414800.0  454900.0  456700.0  483000.0  436400.0  491200.0  472900.0  504500.0  513600.0  557400.0  543700.0  532800.0  522400.0  534500.0  532200.0  537500.0  561900.0  562300.0  550000.0  537600.0  582600.0  610000.0  606300.0  565700.0  561800.0  607800.0  592300.0  607600.0  554400.0  570400.0  601900.0  638200.0  651400.0  617700.0  596400.0  602100.0  607200.0  624100.0  626300.0  623500.0  622500.0  604600.0  624500.0  631400.0  646200.0  626600.0  640800.0  642800.0  655300.0  664400.0  650800.0  626500.0  628100.0  657600.0  653500.0  615700.0  646100.0  667300.0  685300.0  637300.0  628900.0  605700.0  604700.0  615600.0  634200.0  624000.0  615400.0  626300.0  631600.0  634300.0  656900.0  731600.0  750500.0  726100.0  693300.0  712000   710900   733600   748000   758600   716400   708300   699900   675100   664900   762300   808700   827500   799300.0  776400.0  753800.0  709100.0  726900.0  770900.0  767800.0  753500.0  691900.0  712900.0  777300.0  802800.0    1
1763        25165     Holly Springs  North Carolina  1764      213600.0  194600.0  185300.0  179900.0  189300.0  191800.0  189600.0  190600.0  188900.0  196400.0  201200.0  202600.0  201600.0  188800.0  185200.0  173400.0  178100.0  186900.0  192800.0  192800.0  190100.0  181000.0  188400.0  190400.0  205400.0  191100.0  180500.0  175400.0  190800.0  198200.0  196900.0  190700.0  193900.0  213100.0  201000.0  209500.0  188300.0  188600.0  169700.0  174100.0  175600.0  169800.0  159000.0  165600.0  173200.0  186400.0  163500.0  165300.0  154100.0  176700.0  187600.0  192200.0  192200.0  186800.0  182900.0  193400.0  192900.0  210100.0  207600.0  206700.0  199200.0  196900.0  204800.0  202600.0  211800.0  213100.0  215000.0  211000.0  213200.0  213500.0  214700.0  206200.0  212900.0  214300.0  222700.0  224900.0  228000.0  219400.0  220600.0  220800.0  227800.0  226000.0  227900.0  241700.0  244100.0  251700.0  247500.0  250500.0  246200.0  247600.0  251400.0  250000.0  252100.0  252600.0  255400.0  256300.0  253800.0  252500.0  247100.0  247200.0  246800.0  252000.0  254200.0  260800.0  261600.0  270700.0  264600.0  266500.0  264900.0  275200.0  282600.0  292300.0  292600.0  291500.0  283400.0  291300.0  290000.0  294800.0  289800.0  298300.0  298600   302100   287000   289200   290700   302200   310900   303900   310600   301500   310500   305400   313700   310600.0  311900.0  300300.0  291800.0  289900.0  306100.0  315900.0  308500.0  304200.0  310900.0  326700.0  329800.0    1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ..
966         44833     Cypress        California      967       484200.0  484800.0  471600.0  464600.0  467800.0  466900.0  453300.0  442000.0  438500.0  451200.0  441100.0  473800.0  465400.0  447700.0  417900.0  427400.0  435000.0  434200.0  417500.0  437900.0  441600.0  445400.0  427500.0  438400.0  445000.0  456700.0  438800.0  456000.0  459900.0  461200.0  444000.0  465400.0  480000.0  473400.0  456600.0  442400.0  443300.0  427300.0  408700.0  380200.0  406300.0  410800.0  426200.0  396500.0  408200.0  422100.0  405300.0  377300.0  371600.0  380400.0  384200.0  389100.0  407600.0  430300.0  418900.0  421300.0  425000.0  434700.0  459300.0  461300.0  468700.0  457900.0  475500.0  480700.0  485600.0  483600.0  485800.0  474100.0  463500.0  484400.0  501200.0  537300.0  537800.0  549900.0  536400.0  517800.0  500800.0  495100.0  491700.0  519000.0  517700.0  527400.0  493200.0  503100.0  545700.0  558300.0  568300.0  559700.0  566500.0  561200.0  565200.0  561000.0  567400.0  545200.0  566200.0  558400.0  557600.0  527000.0  531400.0  560100.0  580600.0  592900.0  578700.0  592000.0  598300.0  574400.0  554200.0  528600.0  544200.0  554800.0  562100.0  581200.0  587200.0  611100.0  617700.0  623100.0  601700.0  622900.0  641700.0  691400.0  685000   686300   654700   637500   637500   627300   643300   637200   680900   688500   669800   636700   616800   627200.0  637900.0  658900.0  663300.0  655600.0  635300.0  634600.0  639300.0  670200.0  692800.0  752700.0  711400.0    1
967         39894     Mount Juliet   Tennessee       968       185700.0  192700.0  197400.0  198300.0  192100.0  181000.0  178100.0  176700.0  178600.0  178500.0  174200.0  177100.0  174200.0  171800.0  170200.0  182600.0  188300.0  187600.0  179100.0  175600.0  181900.0  189200.0  201400.0  196200.0  186700.0  182600.0  179000.0  186600.0  189700.0  200500.0  189200.0  178400.0  173100.0  191300.0  195000.0  190600.0  191600.0  190100.0  187200.0  181900.0  188000.0  190200.0  189200.0  180200.0  185400.0  174700.0  179300.0  177700.0  187600.0  189600.0  185700.0  179700.0  176500.0  177700.0  175300.0  174200.0  179800.0  183400.0  185800.0  184600.0  187600.0  194700.0  200400.0  206900.0  202000.0  200700.0  198800.0  206700.0  205600.0  206700.0  200600.0  202200.0  206800.0  222600.0  222700.0  220900.0  214800.0  219400.0  223800.0  223800.0  223300.0  221300.0  223500.0  227100.0  228600.0  229900.0  231000.0  232200.0  236700.0  233800.0  237300.0  238600.0  246100.0  247500.0  256100.0  259800.0  263900.0  259800.0  258100.0  258600.0  262600.0  266300.0  263500.0  268600.0  272400.0  283400.0  279600.0  275700.0  281900.0  280000.0  282800.0  279400.0  285600.0  296200.0  303100.0  298700.0  296000.0  301900.0  315800.0  314200.0  301400   311100   320600   325500   308900   301200   300100   302100   307100   310000   313200   319000   320900   318900.0  319800.0  321600.0  328900.0  327700.0  330800.0  319600.0  316100.0  317700.0  321600.0  321500.0  332200.0    1
969         10774     Cerritos       California      970       597900.0  576700.0  569400.0  567400.0  554900.0  550800.0  555500.0  565800.0  540900.0  537500.0  525300.0  547500.0  511400.0  508500.0  495500.0  523600.0  517100.0  511200.0  499800.0  524900.0  537100.0  548900.0  532300.0  551300.0  550700.0  545600.0  522300.0  528300.0  535600.0  530200.0  532100.0  557800.0  565200.0  538600.0  501300.0  501200.0  520300.0  526900.0  514900.0  508100.0  509100.0  489900.0  499600.0  497100.0  513700.0  515600.0  495900.0  504000.0  465000.0  484400.0  476500.0  506100.0  511100.0  515100.0  506000.0  499200.0  501400.0  526300.0  528300.0  537000.0  497600.0  505900.0  522200.0  566700.0  572900.0  576000.0  569200.0  580800.0  583400.0  578100.0  572100.0  576300.0  592100.0  601500.0  592300.0  586900.0  593000.0  585700.0  586200.0  578500.0  596100.0  600600.0  572900.0  587400.0  599800.0  615400.0  595300.0  594000.0  606300.0  615100.0  617900.0  621200.0  614700.0  622700.0  637600.0  655500.0  657300.0  657500.0  661200.0  655200.0  649800.0  645700.0  655000.0  596300.0  586600.0  505400.0  572200.0  580600.0  641800.0  631500.0  639400.0  640700.0  648500.0  641900.0  645000.0  685000.0  699800.0  727200.0  700600.0  690900.0  679600   697900   701000   714500   702300   722800   730500   726000   718900   705700   704100   690400   693700   681800.0  678800.0  687200.0  709500.0  715100.0  706100.0  707500.0  718600.0  722000.0  735400.0  753700.0  709400.0    1
970         737790    Eastvale       California      971       432400.0  423700.0  409100.0  400100.0  390800.0  384200.0  380900.0  372300.0  366700.0  362100.0  358100.0  359800.0  357200.0  354000.0  349900.0  350300.0  354500.0  359200.0  360200.0  360100.0  352900.0  359100.0  368300.0  381800.0  379200.0  375900.0  371100.0  369800.0  367300.0  364200.0  362700.0  360900.0  358600.0  357300.0  354800.0  356100.0  354700.0  354800.0  348800.0  348000.0  346400.0  350100.0  349400.0  342800.0  337300.0  335500.0  341000.0  349200.0  353800.0  352400.0  345500.0  341800.0  344700.0  352700.0  355300.0  358900.0  357100.0  366600.0  376000.0  388900.0  387500.0  399400.0  407500.0  419200.0  423500.0  437000.0  454200.0  462000.0  459200.0  461700.0  461800.0  473300.0  468700.0  472200.0  465700.0  471400.0  465700.0  466100.0  463500.0  465200.0  463600.0  469800.0  474400.0  478800.0  477100.0  474700.0  474700.0  479200.0  485800.0  483000.0  477400.0  472200.0  482200.0  482100.0  487100.0  480100.0  487200.0  489200.0  499800.0  503100.0  508800.0  505900.0  505600.0  501100.0  510200.0  508500.0  515800.0  517800.0  526600.0  527800.0  528700.0  532500.0  541000.0  545300.0  545300.0  551500.0  557700.0  564800.0  565600.0  570800.0  576600   576500   573000   566500   559400   562600   570200   582200   574500   571400   566300   565000   561800   561100.0  566400.0  575500.0  577500.0  578800.0  575100.0  579100.0  573500.0  578200.0  577800.0  592700.0  596900.0    1
3703        48710     Arnold         California      3704      360700.0  342700.0  316500.0  332800.0  332300.0  315100.0  316700.0  322400.0  303800.0  284400.0  235800.0  251300.0  244200.0  270700.0  279500.0  277000.0  257500.0  243200.0  237600.0  275000.0  252100.0  272400.0  261300.0  287300.0  263500.0  243500.0  233800.0  252300.0  255000.0  252100.0  221100.0  226200.0  245900.0  261500.0  266300.0  244200.0  217800.0  191200.0  201500.0  208400.0  208600.0  200800.0  211900.0  211500.0  204600.0  186000.0  188400.0  179900.0  170000.0  176000.0  181700.0  179300.0  186900.0  173300.0  172700.0  161100.0  168100.0  180200.0  194000.0  201500.0  211500.0  206000.0  212900.0  240700.0  244100.0  238000.0  200400.0  206400.0  214600.0  235200.0  234500.0  245300.0  243900.0  243000.0  236200.0  229100.0  219300.0  194200.0  205300.0  221600.0  246900.0  251500.0  241600.0  247700.0  234900.0  242700.0  250700.0  261500.0  257500.0  240600.0  237900.0  231000.0  226700.0  225000.0  213800.0  212400.0  216900.0  243500.0  255500.0  275800.0  273600.0  290500.0  268400.0  278000.0  265200.0  260600.0  261700.0  260400.0  277400.0  274700.0  275100.0  267700.0  282800.0  296000.0  300500.0  272600.0  275100.0  274700.0  281800.0  284600.0  286600   290300   278400   282100   292700   295000   297500   296200   306400   305200   306400   300600   302600   307800.0  322300.0  326500.0  317800.0  293100.0  281000.0  279100.0  279400.0  287100.0  305300.0  325600.0  345100.0    1
Name: count, Length: 862, dtype: int64

In [7]:
sale_price_city.columns

Index(['Unnamed: 0', 'RegionID', 'RegionName', 'StateName', 'SizeRank',
       '2008-03', '2008-04', '2008-05', '2008-06', '2008-07',
       ...
       '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11',
       '2019-12', '2020-01', '2020-02', '2020-03'],
      dtype='object', length=150)

In [8]:
columns_to_drop = sale_price_city.filter(regex='^(200[8-9]|201[0-7]|2018-01)').columns
sale_price_city = sale_price_city.drop(columns=columns_to_drop, axis=1)

sale_price_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3728 entries, 0 to 3727
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3728 non-null   int64
 1   RegionID    3728 non-null   int64
 2   RegionName  3728 non-null   object
 3   StateName   3728 non-null   object
 4   SizeRank    3728 non-null   int64
 5   2018-02     3712 non-null   float64
 6   2018-03     3728 non-null   int64
 7   2018-04     3728 non-null   int64
 8   2018-05     3728 non-null   int64
 9   2018-06     3728 non-null   int64
 10  2018-07     3728 non-null   int64
 11  2018-08     3728 non-null   int64
 12  2018-09     3728 non-null   int64
 13  2018-10     3728 non-null   int64
 14  2018-11     3728 non-null   int64
 15  2018-12     3728 non-null   int64
 16  2019-01     3728 non-null   int64
 17  2019-02     3728 non-null   int64
 18  2019-03     3728 non-null   int64
 19  2019-04     3723 non-null   float64
 20  2019-05     3723 non-null   float64
 21  2019-06     3723 non-null   float64
 22  2019-07     3723 non-null   float64
 23  2019-08     3723 non-null   float64
 24  2019-09     3710 non-null   float64
 25  2019-10     3701 non-null   float64
 26  2019-11     3690 non-null   float64
 27  2019-12     3664 non-null   float64
 28  2020-01     3641 non-null   float64
 29  2020-02     3570 non-null   float64
 30  2020-03     2665 non-null   float64
dtypes: float64(13), int64(16), object(2)
memory usage: 903.0+ KB

In [13]:
print(sale_price_city['StateName'].unique())
sale_price_city['StateName'].value_counts()

['New York' 'California' 'Texas' 'Illinois' 'Pennsylvania' 'Arizona'
 'Nevada' 'Florida' 'Indiana' 'North Carolina' 'Ohio' 'Kentucky'
 'Colorado' 'Washington' 'Tennessee' 'Massachusetts'
 'District of Columbia' 'Oregon' 'Maryland' 'Wisconsin' 'Nebraska'
 'New Mexico' 'Oklahoma' 'Georgia' 'Missouri' 'Virginia' 'Minnesota'
 'Louisiana' 'Kansas' 'South Carolina' 'New Jersey' 'Alabama' 'Idaho'
 'Iowa' 'Michigan' 'Utah' 'Arkansas' 'Rhode Island' 'Connecticut'
 'Delaware' 'New Hampshire' 'Montana' 'Mississippi' 'North Dakota' 'Maine'
 'Hawaii' 'West Virginia' 'South Dakota' 'Wyoming']

StateName
California              396
Florida                 277
Texas                   187
New Jersey              183
Illinois                172
Ohio                    166
Michigan                160
Massachusetts           138
New York                128
Georgia                 119
North Carolina          117
Maryland                115
Pennsylvania            114
Washington              107
Virginia                 98
Minnesota                91
Colorado                 84
Tennessee                84
Wisconsin                81
Missouri                 80
Indiana                  73
Oregon                   70
Alabama                  58
Arizona                  56
Connecticut              55
South Carolina           54
Utah                     54
Kentucky                 44
Louisiana                37
Arkansas                 35
Iowa                     34
Oklahoma                 31
New Hampshire            24
Kansas                   23
Idaho                    23
Rhode Island             23
Nevada                   20
Delaware                 19
Maine                    16
Hawaii                   16
Mississippi              16
West Virginia            13
Nebraska                 12
New Mexico                8
Montana                   7
North Dakota              6
Wyoming                   2
District of Columbia      1
South Dakota              1
Name: count, dtype: int64

In [22]:
#convert all states to state abbreviations
state_abbreviations = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columnia' : 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii' : 'HI',
    'Idaho' : 'ID',
    'Illinois': 'IL',
    'Indiana' : 'IN',
    'Iowa' : 'IA',
    'Kansas' : 'KS',
    'Kentucky' : 'KY',
    'Louisiana' : 'LA',
    'Maine' : 'ME',
    'Maryland' : 'MD',
    'Massachusetts' : 'MA',
    'Michigan' : 'MI',
    'Minnesota' : 'MN',
    'Mississippi' : 'MS',
    'Missouri' : 'MO',
    'Montana' : 'MT',
    'Nebraska' : 'NE',
    'Nevada' : 'NV',
    'New Hampshire' : 'NH',
    'New Jersey' : 'NJ',
    'New Mexico' : 'NM',
    'New York' : 'NY',
    'North Carolina' : 'NC',
    'North Dakota' : 'ND',
    'Ohio' : 'OH',
    'Oklahoma' : 'OK',
    'Oregon' : 'OR',
    'Pennsylvania' : 'PA',
    'Rhode Island' : 'RI',
    'South Carolina' : 'SC',
    'South Dakota' : 'SD',
    'Tennessee' : 'TN',
    'Texas' : 'TX',
    'Utah' : 'UT',
    'Vermont' : 'VT',
    'Virginia' : 'VA',
    'Washington' : 'WA',
    'West Virginia' : 'WV',
    'Wisconsin' : 'WI',
    'Wyoming' : 'WY'
}

In [23]:
sale_price_city['StateName'] = sale_price_city['StateName'].str.strip().str.title()

sale_price_city['StateAbbreviation'] = sale_price_city['StateName'].rename(state_abbreviations)

In [24]:
sale_price_city

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2018-02,2018-03,2018-04,2018-05,2018-06,...,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,StateAbbreviation
0,0,6181,New York,New York,1,553200.0,559400,555700,556300,547000,...,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0,New York
1,1,12447,Los Angeles,California,2,616800.0,624000,631300,629100,635300,...,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN,California
2,2,39051,Houston,Texas,3,195200.0,196300,197800,195500,194300,...,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN,Texas
3,3,17426,Chicago,Illinois,4,238500.0,247400,250000,244600,242100,...,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0,Illinois
4,4,6915,San Antonio,Texas,5,185700.0,185400,186000,187300,186800,...,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,3723,40400,Port Bolivar,Texas,3724,255800.0,280800,274200,259000,237000,...,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,302900.0,333700.0,330100.0,Texas
3724,3724,397820,Long Beach Township,New Jersey,3725,763100.0,787300,784500,829600,810700,...,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,839000.0,860600.0,NaN,New Jersey
3725,3725,37346,Beech Mountain,North Carolina,3726,144500.0,147900,156700,157800,127900,...,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,129400.0,124800.0,131000.0,North Carolina
3726,3726,34991,Corolla,North Carolina,3727,427000.0,392800,405600,448800,479300,...,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,514000.0,444200.0,NaN,North Carolina
3727,3727,52829,La Vernia,Texas,3728,320500.0,325400,336500,327400,311400,...,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,336700.0,340400.0,327000.0,Texas

In [ ]:
sale_price_city['RegionID'].rename()