In [12]:
import pandas as pd

In [1]:
city_market_temp = pd.read_csv('../Data/Zillow/clean/city_market_temp_index_month.csv')
# city_mean_days_to_close = pd.read_csv('../data/clean/city_mean_days_to_close_month.csv')
# city_mean_doz = pd.read_csv('../data/clean/city_mean_doz_pending_month.csv')
# city_mean_listings_price_cut = pd.read_csv('../data/clean/city_mean_listings_price_cut_amt_month.csv')
# city_perc_listings_price_cut = pd.read_csv('../data/clean/city_perc_listings_price_cut_month.csv')
# city_new_construct_mean = pd.read_csv('../data/clean/city_new_con_mean_sale_price_month.csv')
# city_sales_count = pd.read_csv('../data/clean/city_sales_count_now_month.csv')
# city_price_sale = pd.read_csv('../data/Sale_Prices_City.csv')

NameError: name 'pd' is not defined

In [14]:
city_market_temp

,RegionID,CityName,StateName,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,...,2023-10,2023-11,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07
0,394913,NEW YORK,NY,50.0,51.0,55.0,57.0,55.0,52.0,53.0,...,67.0,65.0,74.0,84.0,91.0,88.0,85.0,79.0,76.0,74.0
1,753899,LOS ANGELES,CA,69.0,66.0,66.0,67.0,66.0,64.0,61.0,...,72.0,72.0,77.0,81.0,84.0,82.0,80.0,74.0,69.0,67.0
2,394463,CHICAGO,IL,48.0,49.0,51.0,52.0,51.0,49.0,47.0,...,60.0,58.0,62.0,68.0,74.0,77.0,75.0,71.0,67.0,64.0
3,394514,DALLAS,TX,56.0,56.0,58.0,60.0,60.0,56.0,53.0,...,56.0,57.0,61.0,65.0,66.0,66.0,63.0,59.0,55.0,52.0
4,394692,HOUSTON,TX,48.0,49.0,51.0,52.0,52.0,50.0,48.0,...,51.0,51.0,52.0,54.0,55.0,56.0,55.0,53.0,51.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
922,753929,ZAPATA,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.0,35.0,34.0,36.0,38.0,35.0,30.0,41.0,50.0,50.0
923,394743,KETCHIKAN,AK,39.0,38.0,37.0,40.0,50.0,63.0,62.0,...,66.0,63.0,56.0,NaN,72.0,68.0,50.0,50.0,60.0,60.0
924,753874,CRAIG,CO,19.0,32.0,50.0,59.0,51.0,43.0,36.0,...,36.0,37.0,54.0,62.0,64.0,59.0,58.0,52.0,48.0,47.0
925,395188,VERNON,TX,52.0,46.0,NaN,49.0,64.0,57.0,61.0,...,55.0,61.0,61.0,74.0,80.0,76.0,63.0,64.0,60.0,53.0
926,394767,LAMESA,TX,46.0,45.0,44.0,49.0,50.0,55.0,56.0,...,32.0,39.0,53.0,54.0,47.0,44.0,48.0,48.0,42.0,36.0

In [15]:
city_mean_days_to_close

,RegionID,CityName,StateName,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,...,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06
0,394913,NEW YORK,NY,62.0,58.0,53.0,49.0,50.0,55.0,57.0,...,55.0,55.0,53.0,53.0,58.0,56.0,52.0,51.0,53.0,56.0
1,753899,LOS ANGELES,CA,38.0,33.0,32.0,32.0,33.0,34.0,34.0,...,29.0,29.0,29.0,30.0,32.0,29.0,29.0,29.0,29.0,29.0
2,394463,CHICAGO,IL,46.0,42.0,39.0,41.0,44.0,45.0,44.0,...,37.0,37.0,37.0,36.0,40.0,36.0,35.0,37.0,38.0,39.0
3,394514,DALLAS,TX,22.0,21.0,20.0,21.0,22.0,22.0,22.0,...,28.0,28.0,28.0,28.0,29.0,28.0,28.0,29.0,29.0,29.0
4,394692,HOUSTON,TX,33.0,30.0,31.0,32.0,33.0,34.0,33.0,...,29.0,29.0,29.0,29.0,30.0,29.0,28.0,29.0,30.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,394869,MOBERLY,MO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,38.0,34.0
623,395004,PRINEVILLE,OR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,38.0,43.0,36.0,40.0
624,845169,ROCKPORT,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35.0,23.0,28.0,26.0
625,394418,BROOKINGS,OR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0
626,395112,SPIRIT LAKE,IA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,36.0,36.0,37.0

In [16]:
city_mean_doz

,RegionID,CityName,StateName,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,...,2023-10,2023-11,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07
0,394913,NEW YORK,NY,73.0,68.0,63.0,65.0,62.0,65.0,71.0,...,56.0,58.0,69.0,76.0,68.0,55.0,51.0,47.0,48.0,53.0
1,753899,LOS ANGELES,CA,40.0,33.0,31.0,31.0,31.0,33.0,36.0,...,33.0,34.0,42.0,43.0,36.0,32.0,29.0,28.0,30.0,33.0
2,394463,CHICAGO,IL,58.0,52.0,42.0,39.0,38.0,40.0,44.0,...,29.0,34.0,44.0,47.0,38.0,29.0,25.0,23.0,24.0,24.0
3,394514,DALLAS,TX,50.0,46.0,42.0,37.0,36.0,38.0,41.0,...,39.0,43.0,53.0,56.0,49.0,42.0,38.0,38.0,39.0,44.0
4,394692,HOUSTON,TX,52.0,51.0,45.0,42.0,42.0,43.0,46.0,...,47.0,50.0,61.0,64.0,63.0,53.0,47.0,46.0,47.0,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,395003,PRICE,UT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0
743,786257,FAIRMONT,MN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,32.0
744,394805,LOS ALAMOS,NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,23.0,22.0,12.0
745,395112,SPIRIT LAKE,IA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,51.0,60.0,55.0,32.0,57.0
746,753874,CRAIG,CO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0

In [17]:
city_mean_listings_price_cut

,RegionID,CityName,StateName,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,...,2023-10,2023-11,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07
0,394913,NEW YORK,NY,39033.381666,38321.085614,40956.144660,40184.789036,37810.776375,33351.375221,31303.459072,...,54713.939582,52703.188814,46136.828903,53692.248911,54423.203474,56005.308190,58065.508970,60262.265210,54132.853863,51770.963699
1,753899,LOS ANGELES,CA,48570.410540,42752.557699,43137.642044,44798.935564,42189.639647,39350.633960,36162.658282,...,68659.713182,59914.169624,57045.307692,69874.015421,65651.243702,64212.640639,76687.192706,70295.844789,68268.752289,63283.709883
2,394463,CHICAGO,IL,11767.033541,12692.389707,12787.459092,13590.327248,13426.170341,12708.643567,11968.491488,...,14672.085954,13108.802916,11091.738504,13412.079905,15711.620283,16772.993629,18344.319493,19006.338896,18280.701692,16431.427684
3,394514,DALLAS,TX,12533.857808,12026.804312,13173.950061,12977.210046,12525.966619,11468.611513,10686.799646,...,15346.694384,15042.956516,14268.745699,14071.237319,14337.598491,13938.964342,15376.588769,15529.449298,16257.785741,14762.347467
4,394692,HOUSTON,TX,15073.843952,13925.333560,14213.562067,14753.821526,13900.515334,13244.428162,12358.966857,...,14868.432067,14854.023118,14330.138777,14640.708865,14810.048506,14451.656347,15583.458464,14919.151992,14714.115710,15117.583055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,786263,RUIDOSO,NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27456.688889,27042.475000,16880.769231,10605.000000,19925.000000,15353.289474,21772.361111,22476.190476,23383.720930,22573.318182
796,394996,PORTALES,NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8928.571429,NaN,5782.608696
797,395112,SPIRIT LAKE,IA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41425.000000,24209.571429
798,395142,SWEETWATER,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15635.238095,10145.652174
799,753874,CRAIG,CO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13223.809524

In [18]:
city_perc_listings_price_cut

,RegionID,CityName,StateName,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,...,2023-10,2023-11,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07
0,394913,NEW YORK,NY,0.125282,0.112987,0.122063,0.149563,0.173783,0.180923,0.182313,...,0.154622,0.130736,0.080106,0.116543,0.103205,0.110616,0.123994,0.137394,0.141953,0.143553
1,753899,LOS ANGELES,CA,0.148645,0.136310,0.157305,0.169089,0.198798,0.207093,0.224330,...,0.195263,0.177133,0.115061,0.154395,0.138993,0.145381,0.149944,0.180850,0.184894,0.206634
2,394463,CHICAGO,IL,0.193284,0.175242,0.200803,0.240246,0.274916,0.286413,0.308423,...,0.259066,0.240755,0.154270,0.182866,0.166597,0.165863,0.187355,0.210679,0.221702,0.254350
3,394514,DALLAS,TX,0.178063,0.146886,0.174182,0.186732,0.224750,0.251160,0.281017,...,0.333670,0.295485,0.202124,0.264335,0.257752,0.253948,0.290387,0.319026,0.349785,0.375405
4,394692,HOUSTON,TX,0.195305,0.178816,0.195195,0.225019,0.253785,0.267814,0.287468,...,0.285708,0.246670,0.172096,0.240778,0.244236,0.246461,0.279643,0.283158,0.301817,0.287857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
922,753929,ZAPATA,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.029412,0.142857,0.000000,0.157895,0.026316,0.000000,0.263158,0.050000,0.113636,0.093023
923,394743,KETCHIKAN,AK,0.075949,0.083333,0.126582,0.109756,0.088608,0.103448,0.146552,...,0.083333,0.121951,0.029412,0.148148,0.062500,0.023810,0.257143,0.187500,0.155556,0.181818
924,753874,CRAIG,CO,0.067797,0.043478,0.072072,0.106557,0.172414,0.168539,0.187135,...,0.180952,0.213483,0.112676,0.163934,0.096774,0.126984,0.142857,0.182927,0.179775,0.214286
925,395188,VERNON,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.113208,0.160000,0.146341,0.282051,0.000000,0.052632,0.230769,0.096774,0.142857,0.139535
926,394767,LAMESA,TX,0.032258,0.142857,0.128205,0.156250,0.225000,0.162791,0.100000,...,0.292683,0.111111,0.071429,0.131579,0.150000,0.225000,0.150000,0.260870,0.285714,0.153846

In [19]:
city_new_construct_mean

,RegionID,CityName,StateName,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,...,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06
0,394913,NEW YORK,NY,8.176823e+05,8.428829e+05,8.615577e+05,8.883485e+05,9.036013e+05,9.418037e+05,9.250741e+05,...,1.160283e+06,1.165268e+06,1.272066e+06,1.231220e+06,1.077153e+06,1.254902e+06,1.272397e+06,1.287187e+06,1.426271e+06,1.394696e+06
1,753899,LOS ANGELES,CA,1.210770e+06,1.176219e+06,1.359004e+06,1.309211e+06,1.441707e+06,1.408437e+06,1.255350e+06,...,2.162873e+06,2.012168e+06,1.798533e+06,1.813715e+06,1.983706e+06,1.786038e+06,1.960206e+06,1.753627e+06,1.951269e+06,1.875664e+06
2,394463,CHICAGO,IL,5.788080e+05,5.525356e+05,4.868822e+05,5.855982e+05,5.717985e+05,5.680707e+05,5.442640e+05,...,5.886706e+05,5.780812e+05,6.613150e+05,6.199089e+05,6.095924e+05,6.193918e+05,6.312266e+05,6.517345e+05,6.698438e+05,6.468555e+05
3,394514,DALLAS,TX,3.634576e+05,3.818635e+05,3.880009e+05,3.772106e+05,4.057903e+05,4.085916e+05,4.004023e+05,...,5.220362e+05,5.004282e+05,5.083804e+05,5.062454e+05,4.891532e+05,4.756676e+05,5.036243e+05,4.999988e+05,5.099301e+05,4.909982e+05
4,394692,HOUSTON,TX,3.372448e+05,3.414213e+05,3.396021e+05,3.420277e+05,3.534357e+05,4.001076e+05,3.697061e+05,...,4.140431e+05,4.053380e+05,4.047358e+05,4.278003e+05,4.023078e+05,3.955011e+05,4.204710e+05,4.382718e+05,4.256190e+05,4.100865e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,394674,HEBER,UT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.991467e+06,2.616070e+06,1.929432e+06,1.949619e+06,2.187413e+06,1.849929e+06,2.104043e+06,1.998980e+06,1.774878e+06,2.198063e+06
168,753893,JEFFERSON,GA,2.081872e+05,2.333855e+05,2.347942e+05,2.345265e+05,2.465620e+05,2.264059e+05,1.980983e+05,...,4.586043e+05,4.431229e+05,4.786240e+05,4.425313e+05,4.109711e+05,4.670179e+05,4.978955e+05,4.963131e+05,4.382412e+05,4.689597e+05
169,395063,SANFORD,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.218508e+05,3.302748e+05,3.419151e+05,3.556260e+05,3.176460e+05,3.348357e+05,3.441977e+05
170,395091,SHELBYVILLE,TN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.545480e+05
171,394476,CLEWISTON,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.053269e+05,3.220524e+05,2.966628e+05,3.062344e+05

In [20]:
city_sales_count

,RegionID,CityName,StateName,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2023-10,2023-11,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07
0,394913,NEW YORK,NY,8467.0,8926.0,9861.0,10156.0,10755.0,13715.0,12274.0,...,13149.0,11370.0,10913.0,10584.0,9131.0,10281.0,11213.0,12501.0,12544.0,14460.0
1,753899,LOS ANGELES,CA,4152.0,5054.0,6069.0,6884.0,7238.0,8247.0,7827.0,...,5786.0,5126.0,4988.0,4408.0,4987.0,6115.0,6714.0,7131.0,6392.0,7332.0
2,394463,CHICAGO,IL,5731.0,7209.0,7449.0,8143.0,9035.0,9088.0,8399.0,...,8458.0,7077.0,7202.0,5553.0,5799.0,7727.0,9324.0,10276.0,10067.0,10829.0
3,394514,DALLAS,TX,5000.0,5664.0,6155.0,6843.0,6837.0,6725.0,6414.0,...,5353.0,4724.0,4780.0,4280.0,5240.0,6255.0,7079.0,7577.0,6539.0,7033.0
4,394692,HOUSTON,TX,4131.0,4706.0,4966.0,5591.0,5734.0,5549.0,5159.0,...,NaN,4158.0,4138.0,3627.0,4314.0,5162.0,5852.0,6059.0,5489.0,5547.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,395006,PROVO,UT,338.0,344.0,434.0,442.0,420.0,497.0,445.0,...,446.0,395.0,348.0,367.0,387.0,451.0,625.0,636.0,622.0,616.0
89,395160,TOLEDO,OH,323.0,358.0,425.0,470.0,465.0,473.0,458.0,...,608.0,501.0,462.0,443.0,413.0,476.0,573.0,641.0,612.0,671.0
90,395224,WICHITA,KS,220.0,343.0,340.0,259.0,408.0,400.0,361.0,...,269.0,207.0,193.0,141.0,191.0,212.0,243.0,253.0,227.0,262.0
91,394549,DURHAM,NC,417.0,523.0,557.0,786.0,784.0,705.0,570.0,...,589.0,575.0,470.0,424.0,513.0,609.0,762.0,899.0,723.0,774.0
92,394602,FORT COLLINS,CO,267.0,388.0,446.0,501.0,548.0,514.0,514.0,...,337.0,326.0,257.0,266.0,294.0,370.0,418.0,510.0,444.0,476.0

In [21]:
city_price_sale

,CityName,StateAbbreviation,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,NEW YORK,NY,553200.0,559400,555700,556300,547000,544300,548100,558700,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,LOS ANGELES,CA,616800.0,624000,631300,629100,635300,633600,638900,642700,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,HOUSTON,TX,195200.0,196300,197800,195500,194300,195000,195300,198100,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,CHICAGO,IL,238500.0,247400,250000,244600,242100,248600,254400,256800,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,SAN ANTONIO,TX,185700.0,185400,186000,187300,186800,186100,186300,187800,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,PORT BOLIVAR,TX,255800.0,280800,274200,259000,237000,234000,234600,219000,...,278400.0,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,302900.0,333700.0,330100.0
3724,LONG BEACH TOWNSHIP,NJ,763100.0,787300,784500,829600,810700,811200,790400,833100,...,846300.0,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,839000.0,860600.0,NaN
3725,BEECH MOUNTAIN,NC,144500.0,147900,156700,157800,127900,131600,147800,166100,...,191400.0,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,129400.0,124800.0,131000.0
3726,COROLLA,NC,427000.0,392800,405600,448800,479300,466000,477600,412000,...,522400.0,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,514000.0,444200.0,NaN
3727,LA VERNIA,TX,320500.0,325400,336500,327400,311400,321300,325300,340000,...,337900.0,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,336700.0,340400.0,327000.0

In [22]:
zillow_combine_df = pd.concat(df, ignore_index=True)

TypeError: concat() takes 1 positional argument but 8 positional arguments (and 1 keyword-only argument) were given