In [1]:
import pandas as pd

In [2]:
new_atlanta_df = pd.read_csv('../Data/Clean/combined/Atlanta_combined.csv')
new_charlotte_df = pd.read_csv('../Data/Clean/combined/Charlotte_combined.csv')
new_cincinnati_df = pd.read_csv('../Data/Clean/combined/Cincinnati_combined.csv')
new_denver_df = pd.read_csv('../Data/Clean/combined/Denver_combined.csv')
new_indianapolis_df = pd.read_csv('../Data/Clean/combined/Indianapolis_combined.csv')
new_providence_df = pd.read_csv('../Data/Clean/combined/Providence_combined.csv')
new_tampa_df = pd.read_csv('../Data/Clean/combined/Tampa_combined.csv')

In [3]:
# Concatenate the data from all cities
combined_cities = pd.concat([new_atlanta_df, new_charlotte_df, new_cincinnati_df, new_denver_df, new_indianapolis_df, new_providence_df, new_tampa_df])

In [4]:
combined_cities.head

<bound method NDFrame.head of            DATE  MeanSalePrice  SalesCount  TotalTransactionValue  \
0    2008-04-30       200954.0      6463.0           1.235943e+09
1    2008-05-31       203419.0      6729.0           1.317605e+09
2    2008-06-30       205746.0      7047.0           1.388670e+09
3    2008-07-31       205553.0      7086.0           1.429205e+09
4    2008-08-31       202855.0      6383.0           1.388101e+09
..          ...            ...         ...                    ...
190  2024-02-29       448882.0      3642.0           1.524068e+09
191  2024-03-31       452862.0      4565.0           1.707700e+09
192  2024-04-30       465390.0      4858.0           2.031410e+09
193  2024-05-31       471017.0      5077.0           2.276940e+09
194  2024-06-30       473695.0      4596.0           2.294074e+09

     HomeValueIndex  HomeValueIndexSmSa  MarketTempIdx  DaysToClose  \
0     185168.707578       189442.061550            NaN          NaN
1     185331.245765       188426.220342            NaN          NaN
2     185185.095114       187437.288971            NaN          NaN
3     184692.089305       186253.861325            NaN          NaN
4     183376.364934       184882.815462            NaN          NaN
..              ...                 ...            ...          ...
190   375687.121351       382477.785335           46.0         33.0
191   378189.051222       383558.165868           45.0         33.0
192   380121.269437       384319.745361           44.0         35.0
193   381167.217822       384329.301661           43.0         35.0
194   380895.158925       383376.918835           42.0         35.0

     DaysOnZillow  ListingPriceCutAmt  ...  PctSoldBelowList  MORTGAGE15US  \
0             NaN                 NaN  ...               NaN         5.465
1             NaN                 NaN  ...               NaN         5.600
2             NaN                 NaN  ...               NaN         5.910
3             NaN                 NaN  ...               NaN         5.972
4             NaN                 NaN  ...               NaN         6.025
..            ...                 ...  ...               ...           ...
190          53.0        15552.920371  ...          0.682476         6.102
191          53.0        16178.761677  ...          0.680404         6.175
192          50.0        16495.792450  ...          0.668575         6.263
193          49.0        16197.063450  ...          0.655580         6.346
194          49.0        16109.551386  ...          0.645857         6.188

     MORTGAGE30US  RATE_DIFFERENCE  NUM_JOBS  GROWTH_PCT  \
0           5.918            0.452    2454.9        -3.5
1           6.036            0.436    2450.9        -6.2
2           6.320            0.410    2442.4        -6.1
3           6.426            0.454    2434.6        -6.8
4           6.478            0.452    2429.3        -7.2
..            ...              ...       ...         ...
190         6.776            0.674       NaN         NaN
191         6.820            0.645    1548.3         0.1
192         6.992            0.730    1555.4         2.5
193         7.060            0.714    1555.2         2.2
194         6.918            0.730    1558.3         3.3

     People25PlusThousands_2019  PctHighSchoolDiploma_2019  \
0                    4414.04779                  89.810682
1                    4414.04779                  89.810682
2                    4414.04779                  89.810682
3                    4414.04779                  89.810682
4                    4414.04779                  89.810682
..                          ...                        ...
190                  2293.35917                  93.139933
191                  2293.35917                  93.139933
192                  2293.35917                  93.139933
193                  2293.35917                  93.139933
194                  2293.35917                  93.139933

     PctBachelorsDegree_2019     CityName
0                  41.859123  ATLANTA, GA
1                  41.859123  ATLANTA, GA
2                  41.859123  ATLANTA, GA
3                  41.859123  ATLANTA, GA
4                  41.859123  ATLANTA, GA
..                       ...          ...
190                33.616856    TAMPA, FL
191                33.616856    TAMPA, FL
192                33.616856    TAMPA, FL
193                33.616856    TAMPA, FL
194                33.616856    TAMPA, FL

[1365 rows x 26 columns]>

In [5]:
# Set the 'Date' column as index
combined_cities.set_index('DATE', inplace=True)

In [6]:
print(combined_cities.columns)

Index(['MeanSalePrice', 'SalesCount', 'TotalTransactionValue',
       'HomeValueIndex', 'HomeValueIndexSmSa', 'MarketTempIdx', 'DaysToClose',
       'DaysOnZillow', 'ListingPriceCutAmt', 'ListingPriceCutPct',
       'SaleToList', 'NewConstructMeanSalePrice', 'NewConstructSalesCount',
       'PctListingsPriceCut', 'PctSoldAboveList', 'PctSoldBelowList',
       'MORTGAGE15US', 'MORTGAGE30US', 'RATE_DIFFERENCE', 'NUM_JOBS',
       'GROWTH_PCT', 'People25PlusThousands_2019', 'PctHighSchoolDiploma_2019',
       'PctBachelorsDegree_2019', 'CityName'],
      dtype='object')

In [8]:
combined_cities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1365 entries, 2008-04-30 to 2024-06-30
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   MeanSalePrice               1365 non-null   float64
 1   SalesCount                  1364 non-null   float64
 2   TotalTransactionValue       1365 non-null   float64
 3   HomeValueIndex              1365 non-null   float64
 4   HomeValueIndexSmSa          1365 non-null   float64
 5   MarketTempIdx               546 non-null    float64
 6   DaysToClose                 546 non-null    float64
 7   DaysOnZillow                532 non-null    float64
 8   ListingPriceCutAmt          531 non-null    float64
 9   ListingPriceCutPct          529 non-null    float64
 10  SaleToList                  529 non-null    float64
 11  NewConstructMeanSalePrice   546 non-null    float64
 12  NewConstructSalesCount      546 non-null    float64
 13  PctListingsPriceCut         532 non-null    float64
 14  PctSoldAboveList            531 non-null    float64
 15  PctSoldBelowList            532 non-null    float64
 16  MORTGAGE15US                1365 non-null   float64
 17  MORTGAGE30US                1365 non-null   float64
 18  RATE_DIFFERENCE             1365 non-null   float64
 19  NUM_JOBS                    1337 non-null   float64
 20  GROWTH_PCT                  1337 non-null   float64
 21  People25PlusThousands_2019  1365 non-null   float64
 22  PctHighSchoolDiploma_2019   1365 non-null   float64
 23  PctBachelorsDegree_2019     1365 non-null   float64
 24  CityName                    1365 non-null   object
dtypes: float64(24), object(1)
memory usage: 277.3+ KB

In [10]:
combined_cities.isnull().sum()

MeanSalePrice                   0
SalesCount                      1
TotalTransactionValue           0
HomeValueIndex                  0
HomeValueIndexSmSa              0
MarketTempIdx                 819
DaysToClose                   819
DaysOnZillow                  833
ListingPriceCutAmt            834
ListingPriceCutPct            836
SaleToList                    836
NewConstructMeanSalePrice     819
NewConstructSalesCount        819
PctListingsPriceCut           833
PctSoldAboveList              834
PctSoldBelowList              833
MORTGAGE15US                    0
MORTGAGE30US                    0
RATE_DIFFERENCE                 0
NUM_JOBS                       28
GROWTH_PCT                     28
People25PlusThousands_2019      0
PctHighSchoolDiploma_2019       0
PctBachelorsDegree_2019         0
CityName                        0
dtype: int64

In [12]:
combined_cities.to_csv('combined_cities.csv', index=True)