In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
atlanta_df = pd.read_csv('../Data/Clean/Atlanta.csv')
charlotte_df = pd.read_csv('../Data/Clean/Charlotte.csv')
cincinnati_df = pd.read_csv('../Data/Clean/Cincinnati.csv')
denver_df = pd.read_csv('../Data/Clean/Denver.csv')
indianapolis_df = pd.read_csv('../Data/Clean/Indianapolis.csv')
providence_df = pd.read_csv('../Data/Clean/Providence.csv')

In [3]:
atlanta_df.head()

,DATE,MarketTempIdx,DaysToClose,DaysOnZillow,ListingPriceCutAmt,ListingPriceCutPct,NewConstructMeanSalePrice,NewConstructSalesCount,SalesCount,SalePrice,MORTGAGE15US,MORTGAGE30US,RATE_DIFFERENCE
0,2018-01,53.0,35.0,45.0,12315.431363,0.160343,298699.954978,1580.0,6828.0,216365.714317,3.482,4.033,0.550
1,2018-02,52.0,31.0,40.0,13361.053631,0.155572,309807.747078,1885.0,7862.0,218318.581498,3.785,4.330,0.545
2,2018-03,53.0,32.0,35.0,13712.279370,0.170905,325455.767902,2384.0,10600.0,220179.198175,3.910,4.444,0.534
3,2018-04,56.0,32.0,31.0,13456.497756,0.185078,324589.131298,1967.0,10883.0,221743.705815,3.925,4.468,0.543
4,2018-05,57.0,33.0,30.0,13292.195069,0.214794,338943.512924,1977.0,12512.0,223227.417852,4.066,4.586,0.520

In [4]:
# Check for missing values 
print(atlanta_df.isnull().sum())

DATE                         0
MarketTempIdx                0
DaysToClose                  0
DaysOnZillow                 0
ListingPriceCutAmt           0
ListingPriceCutPct           0
NewConstructMeanSalePrice    0
NewConstructSalesCount       0
SalesCount                   0
SalePrice                    0
MORTGAGE15US                 0
MORTGAGE30US                 0
RATE_DIFFERENCE              0
dtype: int64

In [5]:
atlanta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATE                       78 non-null     object
 1   MarketTempIdx              78 non-null     float64
 2   DaysToClose                78 non-null     float64
 3   DaysOnZillow               78 non-null     float64
 4   ListingPriceCutAmt         78 non-null     float64
 5   ListingPriceCutPct         78 non-null     float64
 6   NewConstructMeanSalePrice  78 non-null     float64
 7   NewConstructSalesCount     78 non-null     float64
 8   SalesCount                 78 non-null     float64
 9   SalePrice                  78 non-null     float64
 10  MORTGAGE15US               78 non-null     float64
 11  MORTGAGE30US               78 non-null     float64
 12  RATE_DIFFERENCE            78 non-null     float64
dtypes: float64(12), object(1)
memory usage: 8.1+ KB

In [6]:
charlotte_df.head()

,DATE,MarketTempIdx,DaysToClose,DaysOnZillow,ListingPriceCutAmt,ListingPriceCutPct,NewConstructMeanSalePrice,NewConstructSalesCount,SalesCount,SalePrice,MORTGAGE15US,MORTGAGE30US,RATE_DIFFERENCE
0,2018-01,53.0,40.0,40.0,11243.116613,0.143878,331002.751220,700.0,2988.0,214397.286147,3.482,4.033,0.550
1,2018-02,52.0,36.0,35.0,12605.449194,0.156792,321081.860710,761.0,3131.0,216017.822527,3.785,4.330,0.545
2,2018-03,53.0,34.0,30.0,12760.508333,0.168021,334866.760000,954.0,4302.0,217678.457946,3.910,4.444,0.534
3,2018-04,54.0,36.0,27.0,13261.422895,0.191695,354226.079731,932.0,4395.0,218995.506605,3.925,4.468,0.543
4,2018-05,54.0,37.0,28.0,12713.534753,0.219585,363532.372678,917.0,4977.0,220144.546519,4.066,4.586,0.520

In [7]:
# Check for missing values 
print(charlotte_df.isnull().sum())

DATE                         0
MarketTempIdx                0
DaysToClose                  0
DaysOnZillow                 0
ListingPriceCutAmt           0
ListingPriceCutPct           0
NewConstructMeanSalePrice    0
NewConstructSalesCount       0
SalesCount                   0
SalePrice                    0
MORTGAGE15US                 0
MORTGAGE30US                 0
RATE_DIFFERENCE              0
dtype: int64

In [8]:
charlotte_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATE                       78 non-null     object
 1   MarketTempIdx              78 non-null     float64
 2   DaysToClose                78 non-null     float64
 3   DaysOnZillow               78 non-null     float64
 4   ListingPriceCutAmt         78 non-null     float64
 5   ListingPriceCutPct         78 non-null     float64
 6   NewConstructMeanSalePrice  78 non-null     float64
 7   NewConstructSalesCount     78 non-null     float64
 8   SalesCount                 78 non-null     float64
 9   SalePrice                  78 non-null     float64
 10  MORTGAGE15US               78 non-null     float64
 11  MORTGAGE30US               78 non-null     float64
 12  RATE_DIFFERENCE            78 non-null     float64
dtypes: float64(12), object(1)
memory usage: 8.1+ KB

In [9]:
cincinnati_df.head()

,DATE,MarketTempIdx,DaysToClose,DaysOnZillow,ListingPriceCutAmt,ListingPriceCutPct,NewConstructMeanSalePrice,NewConstructSalesCount,SalesCount,SalePrice,MORTGAGE15US,MORTGAGE30US,RATE_DIFFERENCE
0,2018-01,42.0,39.0,49.0,8892.789676,0.188391,277393.789308,321.0,1979.0,173346.496800,3.482,4.033,0.550
1,2018-02,43.0,37.0,44.0,9781.125106,0.170206,269154.079051,254.0,1948.0,174075.384919,3.785,4.330,0.545
2,2018-03,46.0,35.0,35.0,9846.737418,0.178320,315383.311005,210.0,2960.0,175200.375854,3.910,4.444,0.534
3,2018-04,50.0,37.0,32.0,11134.855937,0.201177,269780.945055,182.0,3173.0,176430.244009,3.925,4.468,0.543
4,2018-05,51.0,38.0,27.0,11504.665660,0.217566,291332.251613,155.0,3506.0,177773.394767,4.066,4.586,0.520

In [10]:
# Check for missing values 
print(cincinnati_df.isnull().sum())

DATE                         0
MarketTempIdx                0
DaysToClose                  0
DaysOnZillow                 0
ListingPriceCutAmt           0
ListingPriceCutPct           0
NewConstructMeanSalePrice    0
NewConstructSalesCount       0
SalesCount                   1
SalePrice                    0
MORTGAGE15US                 0
MORTGAGE30US                 0
RATE_DIFFERENCE              0
dtype: int64

In [11]:
cincinnati_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATE                       78 non-null     object
 1   MarketTempIdx              78 non-null     float64
 2   DaysToClose                78 non-null     float64
 3   DaysOnZillow               78 non-null     float64
 4   ListingPriceCutAmt         78 non-null     float64
 5   ListingPriceCutPct         78 non-null     float64
 6   NewConstructMeanSalePrice  78 non-null     float64
 7   NewConstructSalesCount     78 non-null     float64
 8   SalesCount                 77 non-null     float64
 9   SalePrice                  78 non-null     float64
 10  MORTGAGE15US               78 non-null     float64
 11  MORTGAGE30US               78 non-null     float64
 12  RATE_DIFFERENCE            78 non-null     float64
dtypes: float64(12), object(1)
memory usage: 8.1+ KB

In [12]:
denver_df.head()

,DATE,MarketTempIdx,DaysToClose,DaysOnZillow,ListingPriceCutAmt,ListingPriceCutPct,NewConstructMeanSalePrice,NewConstructSalesCount,SalesCount,SalePrice,MORTGAGE15US,MORTGAGE30US,RATE_DIFFERENCE
0,2018-01,74.0,34.0,28.0,16733.849533,0.133225,537706.730205,682.0,3169.0,397708.149372,3.482,4.033,0.550
1,2018-02,72.0,31.0,22.0,16423.930620,0.130210,545468.537291,657.0,3395.0,400872.926042,3.785,4.330,0.545
2,2018-03,71.0,30.0,19.0,16012.326935,0.153830,549485.507056,992.0,4766.0,403904.017509,3.910,4.444,0.534
3,2018-04,70.0,31.0,16.0,16674.160324,0.178077,555329.230501,859.0,5045.0,406571.265108,3.925,4.468,0.543
4,2018-05,68.0,32.0,17.0,15617.310131,0.220831,543572.326351,907.0,5812.0,409135.348940,4.066,4.586,0.520

In [13]:
# Check for missing values 
print(denver_df.isnull().sum())

DATE                         0
MarketTempIdx                0
DaysToClose                  0
DaysOnZillow                 0
ListingPriceCutAmt           0
ListingPriceCutPct           0
NewConstructMeanSalePrice    0
NewConstructSalesCount       0
SalesCount                   0
SalePrice                    0
MORTGAGE15US                 0
MORTGAGE30US                 0
RATE_DIFFERENCE              0
dtype: int64

In [14]:
denver_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATE                       78 non-null     object
 1   MarketTempIdx              78 non-null     float64
 2   DaysToClose                78 non-null     float64
 3   DaysOnZillow               78 non-null     float64
 4   ListingPriceCutAmt         78 non-null     float64
 5   ListingPriceCutPct         78 non-null     float64
 6   NewConstructMeanSalePrice  78 non-null     float64
 7   NewConstructSalesCount     78 non-null     float64
 8   SalesCount                 78 non-null     float64
 9   SalePrice                  78 non-null     float64
 10  MORTGAGE15US               78 non-null     float64
 11  MORTGAGE30US               78 non-null     float64
 12  RATE_DIFFERENCE            78 non-null     float64
dtypes: float64(12), object(1)
memory usage: 8.1+ KB

In [15]:
indianapolis_df.head()

,DATE,MarketTempIdx,DaysToClose,DaysOnZillow,ListingPriceCutAmt,ListingPriceCutPct,NewConstructMeanSalePrice,NewConstructSalesCount,SalesCount,SalePrice,MORTGAGE15US,MORTGAGE30US,RATE_DIFFERENCE
0,2018-01,44.0,31.0,50.0,9565.188841,0.165976,297822.061594,276.0,2284.0,163700.591608,3.482,4.033,0.550
1,2018-02,44.0,29.0,48.0,9187.455993,0.147806,320292.490323,317.0,2459.0,164520.933841,3.785,4.330,0.545
2,2018-03,50.0,28.0,40.0,9530.067247,0.154958,333248.685714,315.0,3118.0,165635.755273,3.910,4.444,0.534
3,2018-04,58.0,29.0,36.0,9858.027416,0.173512,363757.471774,249.0,3529.0,166888.280898,3.925,4.468,0.543
4,2018-05,61.0,36.0,25.0,10074.075684,0.221585,346813.219178,221.0,4005.0,168294.331977,4.066,4.586,0.520

In [16]:
# Check for missing values 
print(indianapolis_df.isnull().sum())

DATE                         0
MarketTempIdx                0
DaysToClose                  0
DaysOnZillow                 0
ListingPriceCutAmt           0
ListingPriceCutPct           0
NewConstructMeanSalePrice    0
NewConstructSalesCount       0
SalesCount                   0
SalePrice                    0
MORTGAGE15US                 0
MORTGAGE30US                 0
RATE_DIFFERENCE              0
dtype: int64

In [17]:
indianapolis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATE                       78 non-null     object
 1   MarketTempIdx              78 non-null     float64
 2   DaysToClose                78 non-null     float64
 3   DaysOnZillow               78 non-null     float64
 4   ListingPriceCutAmt         78 non-null     float64
 5   ListingPriceCutPct         78 non-null     float64
 6   NewConstructMeanSalePrice  78 non-null     float64
 7   NewConstructSalesCount     78 non-null     float64
 8   SalesCount                 78 non-null     float64
 9   SalePrice                  78 non-null     float64
 10  MORTGAGE15US               78 non-null     float64
 11  MORTGAGE30US               78 non-null     float64
 12  RATE_DIFFERENCE            78 non-null     float64
dtypes: float64(12), object(1)
memory usage: 8.1+ KB

In [18]:
providence_df.head()

,DATE,MarketTempIdx,DaysToClose,DaysOnZillow,ListingPriceCutAmt,ListingPriceCutPct,NewConstructMeanSalePrice,NewConstructSalesCount,SalesCount,SalePrice,MORTGAGE15US,MORTGAGE30US,RATE_DIFFERENCE
0,2018-01,52.0,44.0,59.0,14886.916910,0.135527,357332.586667,75.0,1335.0,294646.210320,3.482,4.033,0.550
1,2018-02,53.0,45.0,49.0,13721.127660,0.122285,383405.906250,64.0,1087.0,295883.910233,3.785,4.330,0.545
2,2018-03,58.0,43.0,46.0,17894.740573,0.118579,372595.388889,90.0,1419.0,297498.840973,3.910,4.444,0.534
3,2018-04,61.0,41.0,41.0,18644.291850,0.142316,390282.752688,93.0,1565.0,299255.564948,3.925,4.468,0.543
4,2018-05,61.0,42.0,33.0,15307.745888,0.163512,409967.413548,93.0,1995.0,301115.602682,4.066,4.586,0.520

In [19]:
# Check for missing values 
print(providence_df.isnull().sum())

DATE                         0
MarketTempIdx                0
DaysToClose                  0
DaysOnZillow                 0
ListingPriceCutAmt           0
ListingPriceCutPct           0
NewConstructMeanSalePrice    0
NewConstructSalesCount       0
SalesCount                   0
SalePrice                    0
MORTGAGE15US                 0
MORTGAGE30US                 0
RATE_DIFFERENCE              0
dtype: int64

In [20]:
providence_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATE                       78 non-null     object
 1   MarketTempIdx              78 non-null     float64
 2   DaysToClose                78 non-null     float64
 3   DaysOnZillow               78 non-null     float64
 4   ListingPriceCutAmt         78 non-null     float64
 5   ListingPriceCutPct         78 non-null     float64
 6   NewConstructMeanSalePrice  78 non-null     float64
 7   NewConstructSalesCount     78 non-null     float64
 8   SalesCount                 78 non-null     float64
 9   SalePrice                  78 non-null     float64
 10  MORTGAGE15US               78 non-null     float64
 11  MORTGAGE30US               78 non-null     float64
 12  RATE_DIFFERENCE            78 non-null     float64
dtypes: float64(12), object(1)
memory usage: 8.1+ KB

In [21]:
# Check the shape of each DataFrame (rows, columns)
print(atlanta_df.shape, charlotte_df.shape, cincinnati_df.shape, denver_df.shape, indianapolis_df.shape, providence_df.shape)

(78, 13) (78, 13) (78, 13) (78, 13) (78, 13) (78, 13)

In [22]:
# Check the length of each DataFrame before concatenation
atlanta_len = len(atlanta_df)
charlotte_len = len(charlotte_df)
cincinnati_len = len(cincinnati_df)
denver_len = len(denver_df)
indianapolis_len = len(indianapolis_df)
providence_len = len(providence_df)

In [23]:
# List of DataFrames and concatonating to one
df_list = [atlanta_df, charlotte_df, cincinnati_df, denver_df, indianapolis_df, providence_df]
combined_df = pd.concat(df_list, ignore_index=True)

In [24]:
#Columns to Scale
column_names = list(combined_df.columns)
print(column_names)
features_to_scale = [ 'DaysToClose', 'DaysOnZillow', 'ListingPriceCutAmt', 'ListingPriceCutPct', 'NewConstructMeanSalePrice', 'NewConstructSalesCount', 'SalesCount', 'SalePrice', 'MORTGAGE15US', 'MORTGAGE30US', 'RATE_DIFFERENCE']

['DATE', 'MarketTempIdx', 'DaysToClose', 'DaysOnZillow', 'ListingPriceCutAmt', 'ListingPriceCutPct', 'NewConstructMeanSalePrice', 'NewConstructSalesCount', 'SalesCount', 'SalePrice', 'MORTGAGE15US', 'MORTGAGE30US', 'RATE_DIFFERENCE']

In [40]:
#Initialize the scaler
scaler = StandardScaler()

In [41]:
#Scale only the selected features
combined_df[features_to_scale] = scaler.fit_transform(combined_df[features_to_scale])

In [42]:
# Calculate the correct split indices based on the lengths of each original DataFrame
split_indices = [atlanta_len, charlotte_len, cincinnati_len, denver_len, indianapolis_len, providence_len]

In [43]:
# Split back into individual DataFrames
atlanta_scaled, charlotte_scaled, cincinnati_scaled, denver_scaled, indianapolis_scaled, providence_scaled = \
     np.split(combined_df, np.cumsum(split_indices)[:-1])

/opt/anaconda3/lib/python3.11/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [44]:
print(atlanta_scaled.head())

      DATE  MarketTempIdx  DaysToClose  DaysOnZillow  ListingPriceCutAmt  \
0  2018-01           53.0     0.059300      1.017848           -0.564068
1  2018-02           52.0    -0.750984      0.645523           -0.387246
2  2018-03           53.0    -0.548413      0.273198           -0.327851
3  2018-04           56.0    -0.548413     -0.024663           -0.371106
4  2018-05           57.0    -0.345842     -0.099128           -0.398890

   ListingPriceCutPct  NewConstructMeanSalePrice  NewConstructSalesCount  \
0           -0.651066                  -1.380258                2.068336
1           -0.725834                  -1.291298                2.666424
2           -0.485523                  -1.165977                3.644935
3           -0.263401                  -1.172918                2.827221
4            0.202322                  -1.057958                2.846830

   SalesCount  SalePrice  MORTGAGE15US  MORTGAGE30US  RATE_DIFFERENCE
0    0.850983  -0.941509     -0.353913     -0.395200         -0.74982
1    1.203483  -0.924257     -0.147426     -0.198804         -0.79707
2    2.136892  -0.907819     -0.062241     -0.123419         -0.90102
3    2.233369  -0.893997     -0.052019     -0.107549         -0.81597
4    2.788710  -0.880889      0.044069     -0.029520         -1.03332

In [45]:
#Linear Regression for Atlanta
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [53]:
#Split Atlanta Data into training and test set
X = atlanta_scaled[['DaysToClose', 'DaysOnZillow', 'ListingPriceCutAmt', 'ListingPriceCutPct', 'NewConstructMeanSalePrice', 'NewConstructSalesCount', 'SalesCount', 'MORTGAGE15US', 'MORTGAGE30US', 'RATE_DIFFERENCE']]
y = atlanta_scaled['SalePrice']

In [54]:
# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [55]:
# Initialize the Linear Regression model
model = LinearRegression()

In [56]:
# Train the model
model.fit(X_train, y_train)

LinearRegression()

In [57]:
# Evaluate the model
y_pred = model.predict(X_test)

In [58]:
# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-Squared Score: {r2}")

Mean Squared Error: 0.0035402252374275877
R-Squared Score: 0.9890069659953049

In [59]:
y_pred

array([-0.64702596, -0.94010771, -0.432487  , -0.81353855, -0.71774873,
        0.57155019, -0.6555116 , -0.86476607,  0.15598979,  0.40218696,
        0.52513022, -0.70256762,  0.44397958,  0.47712501, -0.76494281,
       -0.14076345])

In [ ]:
#Split Data into training and test set
X = atlanta_df[['DaysToClose', 'DaysOnZillow', 'ListingPriceCutAmt', 'ListingPriceCutPct', 'NewConstructMeanSalePrice', 'NewConstructSalesCount', 'SalesCount', 'MORTGAGE15US', 'MORTGAGE30US', 'RATE_DIFFERENCE']]
y = atlanta_df['SalePrice']

In [ ]:
# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#Split Data into training and test set
X = atlanta_df[['DaysToClose', 'DaysOnZillow', 'ListingPriceCutAmt', 'ListingPriceCutPct', 'NewConstructMeanSalePrice', 'NewConstructSalesCount', 'SalesCount', 'MORTGAGE15US', 'MORTGAGE30US', 'RATE_DIFFERENCE']]
y = atlanta_df['SalePrice']

In [ ]:
# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#Split Data into training and test set
X = atlanta_df[['DaysToClose', 'DaysOnZillow', 'ListingPriceCutAmt', 'ListingPriceCutPct', 'NewConstructMeanSalePrice', 'NewConstructSalesCount', 'SalesCount', 'MORTGAGE15US', 'MORTGAGE30US', 'RATE_DIFFERENCE']]
y = atlanta_df['SalePrice']

In [ ]:
# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#Split Data into training and test set
X = atlanta_df[['DaysToClose', 'DaysOnZillow', 'ListingPriceCutAmt', 'ListingPriceCutPct', 'NewConstructMeanSalePrice', 'NewConstructSalesCount', 'SalesCount', 'MORTGAGE15US', 'MORTGAGE30US', 'RATE_DIFFERENCE']]
y = atlanta_df['SalePrice']

In [ ]:
# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#Split Data into training and test set
X = atlanta_df[['DaysToClose', 'DaysOnZillow', 'ListingPriceCutAmt', 'ListingPriceCutPct', 'NewConstructMeanSalePrice', 'NewConstructSalesCount', 'SalesCount', 'MORTGAGE15US', 'MORTGAGE30US', 'RATE_DIFFERENCE']]
y = atlanta_df['SalePrice']

In [ ]:
# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [36]:
# Initialize the Linear Regression model
model = LinearRegression()

In [37]:
# Train the model
model.fit(X_train, y_train)

LinearRegression()

In [38]:
# Evaluate the model
y_pred = model.predict(X_test)

In [60]:
# Calculate evaluation metrics
linear_mse = mean_squared_error(y_test, y_pred)
linear_r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {linear_mse}")
print(f"R-Squared Score: {linear_r2}")

Mean Squared Error: 0.0035402252374275877
R-Squared Score: 0.9890069659953049