In [1]:
import pandas as pd

In [2]:
# Load the two CSV files
mortgage_15yr = pd.read_csv('../Data/FRED/FRED_MORTGAGE15US.csv')
mortgage_30yr = pd.read_csv('../Data/FRED/FRED_MORTGAGE30US.csv')

In [3]:
# Merge the two datasets on the 'DATE' column
merged_mortgage_data = pd.merge(mortgage_15yr, mortgage_30yr, on='DATE', how='inner')

In [4]:
# Convert 'DATE' column to datetime format
merged_mortgage_data['DATE'] = pd.to_datetime(merged_mortgage_data['DATE'])

In [5]:
# Create a new feature: difference between 30-year and 15-year mortgage rates
merged_mortgage_data['RATE_DIFFERENCE'] = merged_mortgage_data['MORTGAGE30US'] - merged_mortgage_data['MORTGAGE15US']

In [6]:
# Display the first few rows of the cleaned dataset
print(merged_mortgage_data.head())

        DATE  MORTGAGE15US  MORTGAGE30US  RATE_DIFFERENCE
0 1991-08-30          8.77          9.15             0.38
1 1991-09-06          8.79          9.14             0.35
2 1991-09-13          8.68          9.02             0.34
3 1991-09-20          8.62          8.95             0.33
4 1991-09-27          8.59          8.92             0.33

In [7]:
# Set the 'DATE' column as the index for resampling with monthly averages
merged_mortgage_data.set_index('DATE', inplace=True)
mortgage_monthly_avg = merged_mortgage_data.resample('M').mean()

/var/folders/0v/k5cxfnrj4_x27cyj9ynqp8qh0000gn/T/ipykernel_73712/3041101503.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  mortgage_monthly_avg = merged_mortgage_data.resample('M').mean()

In [8]:

mortgage_monthly_avg

            MORTGAGE15US  MORTGAGE30US  RATE_DIFFERENCE
DATE
1991-08-31        8.7700        9.1500           0.3800
1991-09-30        8.6700        9.0075           0.3375
1991-10-31        8.4825        8.8550           0.3725
1991-11-30        8.3260        8.7120           0.3860
1991-12-31        8.0700        8.4975           0.4275
...                  ...           ...              ...
2024-04-30        6.2625        6.9925           0.7300
2024-05-31        6.3460        7.0600           0.7140
2024-06-30        6.1875        6.9175           0.7300
2024-07-31        6.1350        6.8475           0.7125
2024-08-31        5.6820        6.5000           0.8180

[397 rows x 3 columns]

In [9]:
# Export the cleaned dataset to a CSV file
mortgage_monthly_avg.to_csv('../Data/FRED/cleaned_mortgage_data.csv', index=False)